body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f0f0; /* Set your desired background color */
}

.section {
  background-color: white;
  margin-top: 5%;
}

#welcome-section {
  background-image: url('../resources/img/welcome.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: left;
  padding: 100px 0;
  height: 100vh; /* Set height to full viewport height */
}
@media (max-width: 767px) {
  #about-section, #the-area, #contact {
    padding: 50px 0;
}
}

    /* Media query for desktop screens */
@media (min-width: 768px) {
  #about-section, #the-area, #contact {
    padding: 50px 0;
    height: 100vh; /* 100% of the viewport height */
}
}

.full-height-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.about-img {
  background-size: cover;
  background-position: center;
}

#contact {
    text-align:center
}

#contact-heading {
    background-color: #ddf5fc;
    margin: -1.6%;
}

#contact-container {
    border: 1px solid #ddf5fc;
    padding: 20px;
    margin-bottom: 30px;
}
